<button (click)="initNewSuperHero()">Create a new super hero</button>

<table>

  <thead>

    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>

  </thead>

  <tbody>

    <tr *ngFor="let superHero of superHeroes;">

      <td>{{ superHero.name }}</td>
      <td>{{ superHero.firstName }}</td>
      <td>{{ superHero.lastName }}</td>
      <td>{{ superHero.place }}</td>
      <td><button (click)="editSuperHero(superHero)">Edit</button></td>

    </tr>

  </tbody>

</table>

<app-edit-super-hero [superHero]="heroToEdit" (superHeroesUpdated)="updateSuperHeroesList($event)"></app-edit-super-hero>